<div class="bg-holder">
    <div class="backgroundImage--slow"></div>
    <div class="backgroundImage--fast"></div>
</div>

<div class="main">
    <nav class="navbar login-navbar transparent">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/">
                    <img src="/general/static/img/mar.svg" alt="Twitter Profilne Bakanlar">
                </a>
            </div>
        </div>
    </nav>

    <div class="jumbotron clearfix">
        <div class="container">
            <div class="col-xs-12 col-md-8 col-md-offset-2 header-container">
                <img src="/general/static/img/mar.svg" class="landing-round-logo">
                <div class="full-width">
                    <div id="google_translate_element"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'tr' }, 'google_translate_element');
                        }
                    </script>
                    <h1>IG Priv</h1>
                    <h2>Belki arkadaşların, ailen, eski sevgilin...<br>Şimdi öğrenmek çok kolay!<br>Hızlı ve ücretsiz!
                    </h2>



                    <p class="login-actions">
                        <a onclick="window.location='/login';" class="btn cf-btn-instagram">
                            <span class="btn-icon btn-icon-instagram"></span>
                            <span class="btn-text"><i class="btn-icon-insta"></i> Instagram ile giriş yap</span>
                            <span class="icon-chevron icon-chevron-instagram"></span>

                        </a>
                    </p>

                </div>


            </div>
        </div>

    </div>
</div>
<footer class="row page-body">

    <div style="
    border-radius: 15px;
    white-space: normal;
    width: 780px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 15px;
    max-width: 100%;
">
       
     

    <div class="col-sm-12 padded-top-bottom-15 footer__rights">

        Tüm hakları saklıdır. &copy; 2022 IG Priv
    </div>

</footer>