<div class="container mt-5">
    <h2>Sefer Bilgileri</h2>
    <form action="/admin/addStationPost" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="seferSaati">Durak Adı:</label>
        <input type="text" name="stationName" class="form-control" id="stationName" placeholder="Durak Adı">
      </div>
      <div class="form-group">
        <label for="seferSaati">Durak Adresi:</label>
        <input type="text" name="stationAddress" class="form-control" id="stationName" placeholder="Durak Adresi">
      </div>
      <div class="form-group">
        <label for="seferGuzergahi">Durağın X Kordinatı:</label>
        <input type="text" name="locationX" class="form-control" id="seferGuzergahi" placeholder="X Kordinatı">
      </div>
      <div class="form-group">
        <label for="seferGuzergahi">Durağın Y Kordinatı:</label>
        <input type="text" name="locationY" class="form-control" id="seferGuzergahi" placeholder="Y Kordinatı">
      </div>
      <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  </body>
  </html>